# Unit - 5 Mutable data structure
- list , dictionary and set
- frozenset , lambda function

## List
- A mutable , iterable , dynamic data structure
- It supports indexing and slicing 
- Duplicate members are allowed 
- mixed data type are also allowed

### Creating a list

In [1]:
l = []
m = list()
n = [2,3,4,5]
o = list('python')
p = list((3,4,5))
print(l,m,n,o,p)

[] [] [2, 3, 4, 5] ['p', 'y', 't', 'h', 'o', 'n'] [3, 4, 5]

In [2]:
l = [5]
type(l)

list

In [3]:
t = (5)
type(t)

int

### Mutability

In [4]:
l = [4,5,6,7]
l[0] = 800
print(l)

[800, 5, 6, 7]

### INDEXING AND SLICING
- syntex same as tuple and string

In [5]:
k = [5,6,7,8,9,10]
print(k[:])
print(k[::])
print(k[::-1])
print(k[1::2])
print(k[-1:-4])
print(k[-1:-4:-1])

[5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5]
[6, 8, 10]
[]
[10, 9, 8]

In [6]:
k[1:3] = [100,200,300,400]
print(k)

[5, 100, 200, 300, 400, 8, 9, 10]

### accessing help inline

In [ ]:
help()

### 1D , 2D , 3D LIST

In [7]:
l = [1,2,3]
m = [[4,5,6],[7,8,9]]
n = [[[10,12,13],[14,15,16]]]
print(l)
print(m)
print(n)

[1, 2, 3]
[[4, 5, 6], [7, 8, 9]]
[[[10, 12, 13], [14, 15, 16]]]

In [8]:
l[0]

1

In [9]:
m[0][0]

4

In [10]:
n[0][0][0]

10

### list is ...

In [11]:
l = [6,7,8,8,9]
print(l)
print(id(l))
print(id(l[0]))
print(id(l[-1]))

[6, 7, 8, 8, 9]
2363535398976
140727831635904
140727831636000

### copy

In [12]:
l = [3,4,5,6]
m = l[:]
m[0] = 100
print(m)
print(l)

[100, 4, 5, 6]
[3, 4, 5, 6]

### direct referance

In [13]:
l = [3,4,5,6]
m = l
m[0] = 100
print(m)
print(l)

[100, 4, 5, 6]
[100, 4, 5, 6]

### delete

In [14]:
l = [5,6,7,8]
del l
print(l)

NameError: name 'l' is not defined

In [15]:
l = [4,5,6]
del l[0]
print(l)

[5, 6]

### list method

In [16]:
l = [4,5,6,7,8]

In [17]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### append

In [18]:
l.append??

In [19]:
print(l)

[4, 5, 6, 7, 8]

In [20]:
l.append(800)

In [21]:
print(l)

[4, 5, 6, 7, 8, 800]

In [22]:
print(l.append(900))

None

In [23]:
print(l)

[4, 5, 6, 7, 8, 800, 900]

In [24]:
l.append('python')

In [25]:
print(l)

[4, 5, 6, 7, 8, 800, 900, 'python']

In [26]:
l.append((1,2,3))

In [27]:
print(l)

[4, 5, 6, 7, 8, 800, 900, 'python', (1, 2, 3)]

### extend

In [28]:
l = [5,6,7,8]

In [29]:
l.extend([800])

In [30]:
print(l)

[5, 6, 7, 8, 800]

In [31]:
l.extend('python')
l

[5, 6, 7, 8, 800, 'p', 'y', 't', 'h', 'o', 'n']

In [32]:
l.extend([7,8,7])
l

[5, 6, 7, 8, 800, 'p', 'y', 't', 'h', 'o', 'n', 7, 8, 7]

### clear

In [33]:
l = [4,5,6]
l.clear()
print(l)

[]

### count

In [34]:
l = [5,56,67,8,990]
l.count(8)

1

### index

In [35]:
l = [4,5,6,8,9,5,7]
l.index(5)

1

In [36]:
l.index(5,3)

5

In [37]:
whos

Variable   Type    Data/Info
----------------------------
k          list    n=8
l          list    n=7
m          list    n=4
n          list    n=1
o          list    n=6
p          list    n=3
t          int     5

### insert

In [38]:
print(l)

[4, 5, 6, 8, 9, 5, 7]

In [39]:
l.insert(0,100)
l

[100, 4, 5, 6, 8, 9, 5, 7]

In [40]:
l.insert(-1,200)
l

[100, 4, 5, 6, 8, 9, 5, 200, 7]

In [41]:
l.insert(100,2000)
l

[100, 4, 5, 6, 8, 9, 5, 200, 7, 2000]

In [42]:
l.insert(-100,2000)
l

[2000, 100, 4, 5, 6, 8, 9, 5, 200, 7, 2000]

### pop

In [43]:
l = [6,7,8,9]

In [44]:
l.pop()

9

In [45]:
l.pop(0)

6

In [46]:
l

[7, 8]

In [47]:
l.pop(90)

IndexError: pop index out of range

### remove

In [48]:
l = [6,7,8,9,8,10]

In [49]:
l.remove(8)

In [50]:
l

[6, 7, 9, 8, 10]

In [51]:
l.remove(100)

ValueError: list.remove(x): x not in list

### reverse

In [52]:
l = [1,2,3,4,5,6]

In [53]:
l.reverse()

In [54]:
print(l)

[6, 5, 4, 3, 2, 1]

In [55]:
l[::-1]

[1, 2, 3, 4, 5, 6]

In [56]:
l

[6, 5, 4, 3, 2, 1]

In [57]:
l = [4,5,6,7]
l = l.reverse()
print(l)

None

In [58]:
l = [3,4,5,6]
print(l.reverse())

None

In [59]:
l

[6, 5, 4, 3]

### sort

In [60]:
l = [6,7,8,9,1,7,9]
l.sort(reverse=True)
l

[9, 9, 8, 7, 7, 6, 1]

In [61]:
l = ['python','java','hi','hello']

In [62]:
l.sort(key=len,reverse=True)

In [63]:
l

['python', 'hello', 'java', 'hi']

### differance between sort and sorted

In [64]:
l = [6,3,5,8,9,1]

In [65]:
sorted(l)
l

[6, 3, 5, 8, 9, 1]

In [66]:
l.sort()
print(l)

[1, 3, 5, 6, 8, 9]

### `+ and *`

In [67]:
l = [5,6,7]
l+l

[5, 6, 7, 5, 6, 7]

In [68]:
l * 4

[5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7]

### LIST COMPREHENSION
SYNTAX-
` [expression for iterator in itrable if <condition>]`

#### WAP to exract list of positive even numbers from a given list
    input - [-4,-2,-1,0,1,2,4,5,6,3]
    output - [2,4,6]

In [69]:
l = [-4,-2,-1,0,1,2,4,5,6,3]
l2=[]
for i in l:
    if i%2==0 and i>0:
        l2.insert(0,i)
l2.reverse()
print(l2)

[2, 4, 6]

##### use of eval

In [70]:
user = eval(input("Enter list"))
print(type(user))

Enter list

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [71]:
x = [i for i in l if i%2==0 and i>0]
print(x)

[2, 4, 6]

In [72]:
x = list(i for i in l if i%2==0 and i>0)
print(x)

[2, 4, 6]

### ITERATING THROUGH LIST

In [73]:
l = [6,7,8,9]
for i in l:
    print(i)

6
7
8
9

In [74]:
for i,j in enumerate(l):
    print(i,j)

0 6
1 7
2 8
3 9

### sort / sorted - key function

In [75]:
def getlast(s):
    return s[len(s) - 1]

In [76]:
l = ['ab','aa','zc','td']

In [77]:
l.sort()
print(l)

['aa', 'ab', 'td', 'zc']

In [78]:
l.sort(key=getlast)
print(l)

['aa', 'ab', 'zc', 'td']

In [79]:
l.sort(key=getlast,reverse=True)
print(l)

['td', 'zc', 'ab', 'aa']

### WAP to swap first and last element of list
input - [1,2,3,5]
output - [5,2,3,1]

In [80]:
l = [4,5,6,7,8]
l[0],l[-1] = l[-1],l[0]
print(l)

[8, 5, 6, 7, 4]

### UNIVARSAL METHOD
`len , min , max , sorted`

In [81]:
l = [4,5,6,7,8]
print(len(l))
print(min(l))
print(max(l))
print(sum(l))
print(sorted(l))

5
4
8
30
[4, 5, 6, 7, 8]

### WAP to fond the sum of element in a given list withoutusing sum function
    input - [3,4,5,-1]
    output - the sum is 11

In [82]:
l = [3,4,5,-1]
sum = 0
for i in l:
    sum += i
print(sum)

11

### WAP to find the sum of element in a given list, reaturning 0 if the list is empty.except number 13 is very unlucky, so it does not count it  and the number coming immedietly after 13 is not counted
    input - [13,1,2,3,13]
    uotput - 5

In [83]:
l = [13,1,2,3,13]
sum1 = 0
for i in l:
    if i==13:
        unlucky = 1
        continue
    if unlucky == 1:
        unlucky = 0
        continue
    else:
        sum1 += i
print(sum1)

5

In [84]:
def sumlist(l):
    if len(l)==0:
        return 0
    else:
        sum = 0
        for i in range(len(l)):
            if l[i] == 13 or l[i-1] == 13 and i !=0:
                continue
            else:
                sum += l[i]
        return sum

### WAP to find the length of longest consecutive elements in a given list
    input - [6,3,1,2,4]
    output - 4

In [85]:
l = [0,1,2,3,5,7,6,100,8,9,8]
l.sort()
count=max=0
for i in range(len(l)-1):
    if l[i]==l[i+1]-1:
        count+=1
        if count>max:
            max=count
    elif l[i]==l[i+1]:
        continue
    else:
        count =0
print(max+1)

5

In [86]:
def longest(nums):
    result = 0
    nums = set(nums)
    for num in nums:
        if num-1 not in nums:
            current = num
            length = 1
            while current+1 in nums:
                current+=1
                length+=1
            result=max(result,length)
    return result

In [87]:
longest([0,1,2,3,5,7,6,100,8,9,8])

TypeError: 'int' object is not callable

### WAP to count zeros enclosed between 1 in a given list and return the count - 
    input - 01000111
    output - 4
    
    input - 010100100
    output - 3

In [88]:
l='0100010011'
start = l.find('1')
l1 = l[::-1]
stop = len(l) - l1.find('1')
l.count('0',start,stop)

5

### For a given list of  integers A, let S be sum of digits of  minimum element of A: Reaturn 0 if S is odd therwise 1.
    input - [34,33,1,24,75,33,54,8]
    output - 0
    
    input - [99,77,33,66,55]
    output - 1

In [89]:
l = [991,774,0,664,555]
a = min(l)
sum=0
while a>0:
    sum = sum + (a%10)
    a=a//10
if sum%2==0:
    print(1)
else:
    print(0)

1

### PB 448

In [92]:
l = eval(input("Enter the list"))
print('the original list is : ',l)
count=0
for i in range(len(l)):
    c = l.copy()
    c.pop(i)
    sum1 = sum(c[::2])
    sum2 = sum(c[1::2])
    if sum1 == sum2:
        print("index to be removed : ",i)
        count+=1
        print('list after removing index ',i,'is',l[:i]+l[i+1:])
print('Total number of special elements are : ',count)

Enter the list['abc','xyz','aba','2112','123451','12345']
the original list is :  ['abc', 'xyz', 'aba', '2112', '123451', '12345']

TypeError: 'int' object is not callable

### PB 447  Write a Python Program using function to count number of strings where the string length is 3 or more and the first and last char are same from given list of string
    input - ['abc','xyz','aba','2112','123451','12345']
    output - 3

In [94]:
l = ['abc','xyz','aba','2112','123451','12345']
count = 0
for i in l:
    if len(i)>=3 and i[0]==i[len(i)-1]:
        count+=1
print(count)

3

# DICTIONARY
- An associative array / mapping 
- Key value pair
- Key must be unique i.e. immutable
- Values can be duplicated
- indexing has no meaning

In [1]:
d =  {}
type(d)

dict

In [2]:
d = dict()
type(d)

dict

In [7]:
d = dict([(1,'apple'),(2,'ball')])

In [8]:
print(d)

{1: 'apple', 2: 'ball'}

In [9]:
d = {1:'apple',2:'ball',3:'cat'}

In [10]:
print(d)

{1: 'apple', 2: 'ball', 3: 'cat'}

In [11]:
d = {5}
type(d)

set

In [13]:
d = {(1,2,3):100,5:'python'}

In [14]:
print(d)

{(1, 2, 3): 100, 5: 'python'}

In [15]:
d = {([1,2,3]:100,5:'python'}
print(d)

SyntaxError: invalid syntax (<ipython-input-15-c6b888cab07b>, line 1)

## json is python dictionary

In [17]:
s = {
    'name' : 'python',
    'collage' : 'ljiet',
    'subjects' :
    {
        'dsa' : 50,
        'english' : 100
    }
}

In [18]:
print(s)

{'name': 'python', 'collage': 'ljiet', 'subjects': {'dsa': 50, 'english': 100}}

## Accessing and adding elements

In [19]:
d = {'name' : 'python','age':40,'city':'ahmedabad',4:600}

In [20]:
print(d)

{'name': 'python', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [21]:
d[0]

KeyError: 0

In [22]:
d[4]

600

In [23]:
d[3]

KeyError: 3

In [24]:
d['name']

'python'

In [25]:
d['name']='java'

In [26]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

## get method

In [27]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [30]:
d.get('name')

'java'

In [31]:
print(d.get('job'))

None

In [32]:
print(d.get('di','nothing'))

nothing

In [33]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [34]:
d['id']='nothing'

In [35]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

## deleting elements

In [36]:
print(d)

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [37]:
del d['id']

In [38]:
print(d)

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [39]:
del d

In [40]:
d

NameError: name 'd' is not defined

## Removing elements through methods

### clear

In [41]:
d = {'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [42]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [43]:
d.clear()

In [44]:
d

{}

### pop

In [3]:
d = {'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [48]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [50]:
d.pop('id')

'nothing'

In [51]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [52]:
d.pop(5)

KeyError: 5

### popitem

In [4]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [5]:
d.popitem??

In [14]:
d.popitem()

('id', 'nothing')

In [15]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [ ]:
d.popitem()

### Looping through dictionary

In [17]:
d = {'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [18]:
for i in d:
    print(i)

name
age
city
4
id

### accessing key value pair

In [19]:
d.items()

dict_items([('name', 'java'), ('age', 40), ('city', 'ahmedabad'), (4, 600), ('id', 'nothing')])

### accessing keys

In [20]:
d.keys()

dict_keys(['name', 'age', 'city', 4, 'id'])

### accessing values

In [21]:
d.values()

dict_values(['java', 40, 'ahmedabad', 600, 'nothing'])

In [22]:
for i in d.values():
    print(i)

java
40
ahmedabad
600
nothing

In [23]:
for i in d.keys():
    print(i)

name
age
city
4
id

In [24]:
for i,j in d.items():
    print(i,j)

name java
age 40
city ahmedabad
4 600
id nothing

### copy

In [25]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [26]:
s = d.copy()
print(s)
print(id(s))
print(id(d))

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}
2341850462720
2341850447360

In [27]:
s['age']=100

In [28]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

### fromkeys

In [29]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [30]:
d.fromkeys??

In [31]:
d.fromkeys(5)

TypeError: 'int' object is not iterable

In [32]:
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [37]:
d.fromkeys('python',50)

{'p': 50, 'y': 50, 't': 50, 'h': 50, 'o': 50, 'n': 50}

In [38]:
d.fromkeys([6,7,8,9],100)

{6: 100, 7: 100, 8: 100, 9: 100}

In [39]:
print(d)

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [43]:
d = d.fromkeys([6,7,8,9],50)

In [44]:
d

{6: 50, 7: 50, 8: 50, 9: 50}

## setdefault

In [45]:
d

{6: 50, 7: 50, 8: 50, 9: 50}

In [47]:
d.setdefault(10)

In [48]:
d

{6: 50, 7: 50, 8: 50, 9: 50, 10: None}

In [49]:
d.setdefault(11,1000)

1000

In [50]:
d

{6: 50, 7: 50, 8: 50, 9: 50, 10: None, 11: 1000}

In [51]:
d.setdefault(11)

1000

In [52]:
d.setdefault(12)

In [53]:
d

{6: 50, 7: 50, 8: 50, 9: 50, 10: None, 11: 1000, 12: None}

## update

In [54]:
print(d)

{6: 50, 7: 50, 8: 50, 9: 50, 10: None, 11: 1000, 12: None}

In [55]:
d1 = {1:'python',6:"java",3:'c'}

In [56]:
d.update(d1)
print(d)

{6: 'java', 7: 50, 8: 50, 9: 50, 10: None, 11: 1000, 12: None, 1: 'python', 3: 'c'}

## univarsal method
`len and sorted`

In [57]:
print(d)

{6: 'java', 7: 50, 8: 50, 9: 50, 10: None, 11: 1000, 12: None, 1: 'python', 3: 'c'}

In [59]:
print(len(d))
print(sorted(d))

9
[1, 3, 6, 7, 8, 9, 10, 11, 12]

In [60]:
100 in d

False

In [61]:
12 in d

True

## Dictionary comprehension
**syntax**

```python
{key,value [expression] :for key , value in iterable if <condition>
```

In [63]:
squares = {x : x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [64]:
squares = {x : x*x for x in range(6) if x%2 == 0}
print(squares)

{0: 0, 2: 4, 4: 16}

## WAP to create freaquancy count dictionary for words in a given sentamce
    input - the quick brown fox jumps over the lazy dog
    output - {'the':2,'quick':1,..}

In [73]:
s ='the quick brown fox jumps over the lazy dog'
m={}
s = s.split(" ")
for i in s:
    count = 0
    for j in range(0,len(s)):
        if i==s[j]:
            count+=1
    m[i]=count
print(m)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [74]:
inp = 'the quick brown fox jumps over the lazy dog'
freq = {i:inp.count(i) for i in inp.split()}
print(freq)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [75]:
inp = 'the quick brown fox jumps over the lazy dog'
d = {}
l = inp.split()
for i in l:
    d[i]=d.get(i,0)+1
print(d)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

### Merge dictionaries

In [79]:
d1 = {1:100,2:200}
d2 = {3:300,4:400,5:500}
d1.update(d2)
d1

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

## PB 449

In [95]:
s = "Don't wait for your feelings to change to take the action. Take the action and your feelings will change"
s = s.split()
d={}
for i in s:
    f=[]
    for j in s:
        if i[0]==j[0]:
            f.append(j)
    d[i[0]]=f
print(d)

{'D': ["Don't"], 'w': ['wait', 'will'], 'f': ['for', 'feelings', 'feelings'], 'y': ['your', 'your'], 't': ['to', 'to', 'take', 'the', 'the'], 'c': ['change', 'change'], 'a': ['action.', 'action', 'and'], 'T': ['Take']}

In [96]:
s = "Don't wait for your feelings to change to take the action. Take the action and your feelings will change"
d = {}
l = s.split()
for i in l:
    d[i[0]]=d.get(i[0],[])
    d[i[0]].append(i)
print(d)

{'D': ["Don't"], 'w': ['wait', 'will'], 'f': ['for', 'feelings', 'feelings'], 'y': ['your', 'your'], 't': ['to', 'to', 'take', 'the', 'the'], 'c': ['change', 'change'], 'a': ['action.', 'action', 'and'], 'T': ['Take']}

### WAP to get single digits in numbers sorted backword and converted to english words
```
input - [1,3,4,5,11,12]
output - ['five','four','three','one']

input - [27,3,8,1,31]
output - ['eight','three','one']
```

In [4]:
ip = [1,3,4,5,11,12]
s1 = {1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine'}
f=[]
ip.sort(reverse=True)
for i in ip :
    if i>=0 and i<=9:
        f.append(s1.get(i))
print(f)

['five', 'four', 'three', 'one']

## SET
- A mutable data structure
- A collection of unique items
- One can add or remove item
- Sice it is unordered ,indexing / slicing has no meaning

### Creating set

In [5]:
s={}
type(s)

dict

In [6]:
s=set()
type(s)

set

In [9]:
s = {1,2,2,3,3,4,4,5,6}
print(s)
type(s)

{1, 2, 3, 4, 5, 6}

set

In [10]:
s = {'hi',[1,2,3],4,5,6}

TypeError: unhashable type: 'list'

In [14]:
s = {'hi',(1,2,3),4,5,3,6}
print(s)

{3, 4, 5, 6, 'hi', (1, 2, 3)}

### Modifying a set

In [18]:
s = {1,2,3,4,5,7,8}

In [16]:
s[0]

TypeError: 'set' object is not subscriptable

### set methods

In [19]:
print(s)

{1, 2, 3, 4, 5, 7, 8}

In [22]:
s.add(100)
print(s)

{1, 2, 3, 4, 5, 100, 7, 8}

In [24]:
s.add(5)
print(s)

{1, 2, 3, 4, 5, 100, 7, 8}

### update

In [25]:
s

{1, 2, 3, 4, 5, 7, 8, 100}

In [26]:
s.update([7,8,9])

In [27]:
s

{1, 2, 3, 4, 5, 7, 8, 9, 100}

In [28]:
s.update('python')

In [33]:
s

{1, 100, 2, 3, 4, 5, 7, 8, 9, 'h', 'n', 'o', 'p', 't', 'y'}

In [34]:
s.update([200,300],(20,30,40),{111,222,333,444})

In [36]:
print(s)

{1, 2, 3, 4, 5, 7, 8, 9, 'h', 20, 't', 30, 40, 'o', 300, 'p', 444, 'n', 200, 333, 222, 100, 'y', 111}

## Removing elements

In [37]:
my_set = {1,3,4,5,6}

### discard

In [38]:
my_set.discard(6)

In [39]:
my_set

{1, 3, 4, 5}

In [40]:
my_set.discard(90)
my_set

{1, 3, 4, 5}

### remove

In [43]:
my_set

{1, 3, 4, 5}

In [44]:
my_set.remove(5)

In [45]:
my_set

{1, 3, 4}

In [46]:
my_set.remove(100)

KeyError: 100

## Type conversion

In [47]:
s = set((7,8,9))

In [48]:
print(s)

{8, 9, 7}

In [49]:
s = set([3,5,4,2])
print(s)

{2, 3, 4, 5}

In [51]:
s = 'python'
print(set(s))

{'y', 'n', 'o', 'h', 'p', 't'}

In [52]:
s = 'aaabbccc'
print(set(s))

{'c', 'a', 'b'}

### clear method

In [53]:
s = {4,5,6,7}
s.clear()
print(s)

set()

## set operations

In [54]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

### Set union

#### First method

In [55]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

#### Another method

In [56]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

## Set Insterection

#### First method

In [57]:
A.intersection(B)

{4, 5}

#### Another method

In [58]:
A & B

{4, 5}

## Set Difference

#### First method

In [59]:
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [60]:
A.difference(B)

{1, 2, 3}

In [61]:
B.difference(A)

{6, 7, 8}

#### Another method

In [62]:
A - B

{1, 2, 3}

In [63]:
B - A

{6, 7, 8}

## Set symentric difference
- it is a set of elements in A and B but not in both (excluding the intersection

In [66]:
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

#### First method

In [64]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference(B)

#### Another method

In [65]:
A ^ B

{1, 2, 3, 6, 7, 8}

### Subset and superset

In [67]:
U = {1,2,3,4,5,6,7}
A = {4,5,6}

In [68]:
A.issubset(U)

True

In [69]:
U.issuperset(A)

True

In [70]:
A.issuperset(U)

False

### disjoint

In [71]:
A = {1,2,3}
B = {4,5,6}

In [72]:
A.intersection(B)

set()

In [73]:
A.isdisjoint(B)

True

## looping through set
- returns unordered unique elements

In [74]:
for letter in set('apple'):
    print(letter)

l
a
e
p

### membership test

In [75]:
A

{1, 2, 3}

In [76]:
3 in A

True

In [77]:
5 in A

False

### Set comprehension
**sytex**

```
{expression for iterator in iterable if <condition>}
```

In [78]:
A = {i**3 for i in range(6) if i%2 == 0}
print(A)

{0, 8, 64}

## FROZENSET
- An immutable
- All the method remain same
- Since it is immutable , it does not allow adding or removing element

### Declaring frozenset

In [79]:
f = frozenset([1,2,3,4])
f1 = frozenset({3,4,5,6})

In [80]:
print(f)
print(f1)

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})

In [83]:
f2 = frozenset('Python')
print(f2)

frozenset({'y', 'n', 'o', 'h', 'P', 't'})

### Immutable frozenset

In [81]:
f.add(90)

AttributeError: 'frozenset' object has no attribute 'add'

## LAMBDA / ANONYMOUS FUNCTION
- A small anonymous function
- It can tack any number of arguments, but can have only one expression
- it has no return value; infact it return a function
- One liner
- Not reusable

**SYNTAX**
```PYTHON
lambda a,b : a+b
- lambda keyword
- parameter -a and b
- colon - its a function 
- Expression - must be valid single python expression
```

### Example

In [84]:
a = lambda x,y:x+y
print(a(7,8))

15

In [86]:
 a = lambda x: "even" if x%2 == 0 else "odd"
print(a(4))

even

In [87]:
add = lambda x,y=15, z=24 : x+y+z

In [88]:
print(add(1))

40

In [89]:
print(add(1,2))

27

In [90]:
print(add(1,2,3))

6

In [91]:
print(add(z = 5, x = 4, y = 1))

10

### MAP, REDUCE AND FILTER

#### MAP

In [93]:
l = [10,40,56,27,13,15,70]

In [103]:
double = map(lambda x : x*2,l)

In [104]:
print(double)

<map object at 0x0000020350264400>

In [105]:
print(list(double))

[20, 80, 112, 54, 26, 30, 140]

### another example

In [106]:
L = [1,2,3,4,5]
print(list(map(lambda x: 'even' if x%2 == 0 else 'odd',L)))

['odd', 'even', 'odd', 'even', 'odd']

### filter

In [107]:
l = [10,40,56,27,13,15,70]
divide = list(filter(lambda x: x%4 == 0,l))
print(divide)

[40, 56]

In [110]:
fruits = ['apple','guava','cherry']

In [111]:
print(list(filter(lambda x : x.startswith('a'),fruits)))

['apple']

### Reduce

In [113]:
from functools import reduce

In [121]:
l1 = [2,5,10,6,4,2]
product = reduce(lambda x,y : x*y , l1)
print(product)

4800

In [122]:
maxvalue = reduce(lambda x,y : x if x > y else y,[23,11,45,10,1])
print(maxvalue)

45

## WAP to find the sum of positive number and nagative number in given list
```
input - [-4,-2,0,1,2,3,4]
output - sum of positive numbers - 10
         sum of nagative numbers - -6
```

In [130]:
ip = [-4,-2,0,1,2,3,4]
pos = sum(list(filter(lambda x: x>0 ,ip)))
neg = sum(list(filter(lambda x: x<0 ,ip)))
print(pos)
print(neg)

10
-6

## PB 442

In [147]:
ip = [1,2,3,4]
 
    
# part A 
string = tuple(map(lambda x : str(x),ip))
print(string)
 
    
# part B
fil = list(map(lambda x: x*10,ip))
print(fil)
  
    
# part C
s = reduce(lambda x,y : x*y,ip)
print(s)


# part D
def countchar(s,char):
    count = 0
    for c in s:
        if c == char:
            count += 1
    return count
print(countchar('hello','l'))


# part E
def findchar(s,char):
    for i in range(len(s)):
        if s[i] == char:
            return i
    return -1
print(findchar('hello','l'))

('1', '2', '3', '4')
[10, 20, 30, 40]
24
2
2